//====================================================================================================
.header {
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
	}
	// .header__logo
	&__logo {
	}
}
.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
	}
	// .menu__item
	&__item {
	}
	// .menu__title
	&__title {
	}
	// .menu__sub-menu
	&__sub-menu {
	}
	// .menu__sub-item
	&__sub-item {
	}
	// .menu__auth
	&__auth {
	}
	// .menu__icons
	&__icons {
	}
	// .menu__icon
	&__icon {
	}
	// .menu__cart
	&__cart {
	}
	// .menu__cart-wrapper
	&__cart-wrapper {
	}
	// .menu__cart-amount
	&__cart-amount {
	}
	// .menu__cart-total
	&__cart-total {
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
