//====================================================================================================
.heading {
	background-color: $headerBackgroundColor;

	margin-bottom: toRem(30);
	@media (min-width: $mobile) {
		margin-bottom: toRem(60);
	}
	@media (min-width: $tablet) {
		margin-bottom: toRem(100);
	}
	// .heading__container
	&__container {
		padding-top: toRem(55);
		padding-bottom: toRem(15);
		height: clamp(toRem(300), 100vh, toRem(1080));
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .heading__text-block
	&__text-block {
		position: relative;
		z-index: 6;
		flex: 0 1 toRem(470);
		color: $whiteColor;
		line-height: 1.11;
		@include adaptiveValue("margin-left", 100, 0, 0, $containerWidth, 991);
	}
	// .heading__sub-title
	&__sub-title {
		font-style: italic;
		@include adaptiveValue("font-size", 22, 14);
		margin-bottom: toRem(10);
	}
	// .heading__title
	&__title {
		line-height: 111%;
		@include adaptiveValue("font-size", 54, 28);
		margin-bottom: toRem(20);
		font-family: $secondaryFontFamily;
	}
	// .heading__description
	&__description {
		font-size: toRem(12);
		margin-bottom: toRem(15);
		line-height: 179%;
		@media (min-width: $mobile) {
			font-size: toRem(14);
			margin-bottom: toRem(35);
		}
	}
	// .heading__buttons
	&__buttons {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		gap: toRem(10);
	}
	// .heading__button
	&__button {
	}
	// .heading__image-block
	&__image-block {
		align-self: flex-end;
		position: relative;
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			align-self: center;
		}
	}
	&__image-ibg {
		position: absolute;
		bottom: toRem(-15);
		right: 0%;

		width: clamp(toRem(320), 100vh, toRem(600));
		padding-bottom: clamp(toRem(200), 60vh, toRem(480));

		@media (max-width: $mobile) {
			transform: translate(50%, 0);
		}
		@media (min-width: $mobile) {
			right: toRem(-150);
			width: toRem(860);
			padding-bottom: clamp(toRem(300), 80vh, toRem(880));
		}
	}
}

//====================================================================================================
.featured {
	margin-bottom: toRem(30);
	@media (min-width: $mobile) {
		margin-bottom: toRem(60);
	}
	@media (min-width: $tablet) {
		margin-bottom: toRem(100);
	}
	// .featured__container
	&__container {
	}
	// .featured__heading
	&__heading {
		margin-bottom: toRem(20);
		@media (min-width: $mobile) {
			margin-bottom: toRem(50);
		}
	}
	// .featured__products
	&__products {
		min-width: 0;

		@media (min-width: em(639.8)) {
			display: flex;
		}
	}
	// .featured__featured-product
	&__featured-product {
		flex: 0 0 toRem(270);
		@media (max-width: em(639.8)) {
			margin: 0 auto toRem(20);
			max-width: toRem(420);
			min-height: toRem(400);
		}
	}
	&__swiper-wrapper {
		min-width: 0;
		flex: 1 1 auto;
		position: relative;
	}
	// .featured__swiper
	&__swiper {
		margin: 0 toRem(30);
		overflow: hidden;
	}
	// .featured__wrapper
	&__wrapper {
	}
	// .featured__slide
	&__slide {
	}
	// .featured__left-arrow
	&__left-arrow {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%) rotate(-180deg);
	}
	// .featured__right-arrow
	&__right-arrow {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}
.featured-product {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;

	@media (max-width: em(639.8)) {
	}
	// .featured-product__text-block
	&__text-block {
		position: relative;
		z-index: 5;
		text-align: center;
		padding: 0 toRem(10) toRem(20) toRem(10);
	}
	// .featured-product__title
	&__title {
		font-size: toRem(30);
		line-height: 117%;
	}
	// .featured-product__description
	&__description {
		line-height: 179%;
		color: $lightGreyColor;
	}
	// .featured-product__button
	&__button {
		display: block;
		color: $mainColor;
		border: 1px solid #dfdfdf;
		span {
			transition: all 0.3s;
		}

		@media (any-hover: hover) {
			&:hover {
				background: #dfdfdf;
			}
		}

		html:not(.touch) .featured-product:not(:hover) & {
			padding: 0;
			border-width: 0;
			background-color: transparent;
			min-height: 0;
			span {
				opacity: 0;
				font-size: toRem(0);
			}
		}
	}
	// .featured-product__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		// padding-bottom: percent(370, 270);
		height: 100%;
	}
}
.featured-slide {
	display: flex;
	flex-direction: column-reverse;

	@media (min-width: em(639.8)) {
		min-width: toRem(270);
	}

	@media (any-hover: hover) {
		&:hover {
			.featured-slide__tools {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	// .featured-slide__text-block
	&__text-block {
		text-align: center;
		line-height: 179%;
	}
	// .featured-slide__title
	&__title {
		color: $greyColor;
		@extend %linkHover;
		a {
			display: block;
		}
	}
	// .featured-slide__categoty
	&__categoty {
		color: $lightGreyColor;
		@extend %linkHover;
	}
	// .featured-slide__price
	&__price {
		color: $goldColor;
		font-weight: 700;
	}
	// .featured-slide__image-block
	&__image-block {
		position: relative;
	}
	// .featured-slide__image-ibg
	&__image-ibg {
		display: block;
		padding-bottom: percent(270, 250);
	}
	// .featured-slide__tools
	&__tools {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 toRem(4) toRem(18) 0 rgba(0, 0, 0, 0.25);
		background: $whiteColor;
		gap: toRem(16);
		padding: toRem(8) toRem(12);

		left: 50%;
		bottom: 10%;
		transform: translate(-50%, 0);

		opacity: 0;
		pointer-events: none;
		transition: all 0.3s;

		.touch & {
			top: 5%;
			right: toRem(10);
			bottom: initial;
			left: initial;
			transform: translate(0%, 0);
			opacity: 1;
			pointer-events: all;
		}
	}
	// .featured-slide__tool
	&__tool {
	}
}
//========================================================================================================================================================
.special {
	margin-bottom: toRem(30);
	@media (min-width: $mobile) {
		margin-bottom: toRem(60);
	}
	@media (min-width: $tablet) {
		margin-bottom: toRem(100);
	}
	// .special__container
	&__container {
		gap: toRem(20);
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .special__offer
	&__offer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);
		@media (max-width: $tablet) {
			min-height: 52vw;
		}
	}
	// .special__text-block
	&__text-block {
		position: relative;
		z-index: 5;
		color: $greyColor;
		line-height: 114%;
		max-width: toRem(290);
		padding: toRem(15);
		@media (max-width: $mobile) {
			text-align: right;
		}
	}
	// .special__sub-title
	&__sub-title {
		font-style: italic;
		font-weight: 500;
		font-size: toRem(16);
		margin-bottom: toRem(10);
		@media (min-width: $mobile) {
			font-size: toRem(22);
		}
	}
	// .special__title
	&__title {
		margin-bottom: toRem(10);
		line-height: 120%;
		font-size: toRem(36);
		@media (min-width: $mobileSmall) {
			font-size: toRem(42);
		}
		@media (min-width: $mobile) {
			font-size: toRem(48);
		}
		@media (min-width: $tablet) {
			font-size: toRem(54);
		}
	}
	// .special__description
	&__description {
		margin-bottom: toRem(30);
		font-size: toRem(14);
		@media (min-width: $mobile) {
			font-size: toRem(18);
		}
	}
	// .special__button
	&__button {
	}
	// .special__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			object-position: left;
		}
	}
	// .special__products
	&__products {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: toRem(15);
		@media (max-width: $tablet) {
			margin-top: toRem(20);
		}
		@media (max-width: em(578)) {
			flex-wrap: wrap;
		}
	}
	// .special__column
	&__column {
		flex: 0 1 50%;
		flex-wrap: wrap;
		gap: toRem(10) toRem(5);

		@media (min-width: $tablet) {
			max-width: toRem(255);
		}
		@media (max-width: em(578)) {
			display: flex;
			flex: 1 1 auto;
			max-width: none;
			justify-content: space-between;
		}
	}
	// .special__column-title
	&__column-title {
		flex: 0 0 100%;
		text-transform: uppercase;
		@media (min-width: em(578)) {
			margin-bottom: toRem(20);
		}
		@media (min-width: $mobile) {
			font-size: toRem(18);
		}
	}
	// .special__item
	&__item {
		flex: 0 1 49%;
		@media (max-width: em(375)) {
			flex: 1 1 auto;
		}
	}
}
.item-special {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: toRem(15);
	padding-bottom: toRem(10);
	border-bottom: 1px solid #dfdfdf;

	@media (min-width: em(578)) {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .item-special__text-block
	&__text-block {
	}
	// .item-special__title
	&__title {
		@extend %linkHover;
		color: $greyColor;
		margin-bottom: toRem(7);
		a {
			display: block;
		}
	}
	// .item-special__price
	&__price {
		color: $goldColor;
	}
	// .item-special__image
	&__image {
		@extend %imageHover;
	}
}
//========================================================================================================================================================
.blog {
	margin-bottom: toRem(30);
	@media (min-width: $mobile) {
		margin-bottom: toRem(60);
	}
	@media (min-width: $tablet) {
		margin-bottom: toRem(100);
	}
	// .blog__container
	&__container {
	}
	// .blog__heading
	&__heading {
		margin-bottom: toRem(20);
		@media (min-width: $mobile) {
			margin-bottom: toRem(50);
		}
	}
	// .blog__swiper-wrapper
	&__swiper-wrapper {
		min-width: 0;
		flex: 1 1 auto;
		position: relative;
	}
	// .blog__slider
	&__slider {
		margin: 0 toRem(20);
		overflow: hidden;
	}
	// .blog__wrapper
	&__wrapper {
	}
	// .blog__slide
	&__slide {
		display: flex;
		flex-direction: column-reverse;
		gap: toRem(25);
	}
	// .blog__text-block
	&__text-block {
		text-align: center;
	}
	// .blog__title
	&__title {
		font-family: $secondaryFontFamily;
		line-height: 146%;
		text-transform: uppercase;
		margin-bottom: toRem(10);
		@extend %linkHover;

		font-size: toRem(18);
		@media (min-width: $mobile) {
			font-size: toRem(22);
		}
	}
	// .blog__author
	&__author {
		color: rgba(119, 119, 119, 0.5);
		line-height: 143%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(10);
		margin-bottom: toRem(10);

		img {
			flex: 0 0 em(20, 14);
			height: em(20, 14);
			width: em(20, 14);
			border-radius: 50%;
		}
	}
	// .blog__description
	&__description {
		margin-bottom: toRem(20);
		line-height: 179%;
		color: $lightGreyColor;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: calc(1em * 1.79 * 3);
	}
	// .blog__button
	&__button {
		line-height: 179%;
		text-transform: uppercase;
		color: $goldColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .blog__image-block
	&__image-block {
		position: relative;
	}
	// .blog__category
	&__category {
		position: absolute;
		z-index: 5;
		right: 50%;
		bottom: 0;
		transform: translate(50%, 50%);
		background: $goldColor;
		color: $whiteColor;
		padding: 0 em(10, 12);
		font-size: toRem(12);
		line-height: 120%;
		padding: toRem(4) toRem(8);
		text-transform: uppercase;
		text-align: center;
	}
	// .blog__date
	&__date {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 5;
		left: toRem(15);
		top: toRem(15);
		font-size: toRem(22);
		background-color: $whiteColor;
		padding: toRem(5) toRem(10);
		line-height: 115%;
		text-align: center;
		.month {
			font-size: toRem(13);
			text-transform: uppercase;
		}
	}
	// .blog__image-ibg
	&__image-ibg {
		padding-bottom: percent(261, 345);
	}
	// .blog__right-arrow
	&__left-arrow {
		position: absolute;
		left: toRem(-13);
		top: 50%;
		transform: translate(0, -50%) rotate(-180deg);
	}
	// .blog__right-arrow
	&__right-arrow {
		position: absolute;
		right: toRem(-13);
		top: 50%;
		transform: translate(0, -50%);
	}
}
