@use "sass:math";

// Connecting mixins ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Connecting fonts ===========================================================================================================================================================================================================================================================================
//&display=swap - add when connecting through a plugin
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

// Connecting icon fonts ==============================================================================================================================================================================================================================================================================
// Connect if there is an icon font file
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Template settings ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Default font ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lora", serif;
$secondaryFontFamily: "Marcellus", serif;
$fontSize: toRem(14);
// Primary colors
$mainColor: #000; // Default font color
$whiteColor: #fff;
$lightGreyColor: #777;
$greyColor: #242424;
$goldColor: #c3935b;
$mainBackgroundColor: #f4f4f4;
$footerBackgroundColor: #eaeaea;
$headerBackgroundColor: #040404;

// Adaptive grid settings ===============================================================================================================================================================================================================================================================================================

// Minimum page width
$minWidth: 320;
// Canvas (layout) width
$maxWidth: 1920;
// Container limiting width (0 = no limit)
$maxWidthContainer: 1170;
// General container padding
// (30 = 15px on the left and right, 0 = no padding)
$containerPadding: 30;

// First breakpoint width
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PC, laptops, some tablets in horizontal orientation
$tablet: em(991.98); // Tablets, some phones in horizontal orientation
$mobile: em(767.98); // L-sized phones
$mobileSmall: em(479.98); // S-sized phones

// Type of adaptation:
// 1 = responsive (container has no breakpoints),
// 2 = by breakpoint (container changes its width by breakpoint)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Reset ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// BODY tag styles ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Scroll is locked
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Site is loaded
	.loaded & {
	}
}
// Wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Push footer down
	> main {
		flex: 1 1 auto;
	}
	// Fix for sliders
	> * {
		min-width: 0;
	}
}
// Limiting container ======================================================================================================================================================================================================================
/*
(i) Styles will be applied to
all classes that contain *__container
For example, header__container, main__container, etc.
Snippet (HTML): cnt
*/
@if ($responsiveType==1) {
	// Responsive
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue(
					"padding-left",
					math.div($containerPadding, 2),
					15
				);
				@include adaptiveValue(
					"padding-right",
					math.div($containerPadding, 2),
					15
				);
			}
		}
	}
} @else {
	// By breakpoints
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Connecting base styles, templates (blanks), and utility classes
// To connect/disable specific styles, see base.scss
@import "base";

// Connecting styles for general project elements
@import "common";

// Connecting styles for individual blocks
@import "header";
@import "footer";

// Connecting styles for individual pages
@import "home";
